<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API root</title>
  </head>

  <style>
    a {
      text-decoration: none;
    }

    .heading {
      text-align: center;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      font-size: 12px;
      padding: 8px;
    }
    

    tr:nth-child(even) {background-color: #f2f2f2;}
  </style>

  <body>
    <h1 class="heading">All API routes</h1>

    <table border="1px solid gray">
        <tr>
            <th>Name</th>
            <th>Route</th>
            <th>Req Type</th>
            <th>Token</th>
            <th>User role</th>
        </tr>

        {% for item in all_domains %}
        <tr>
          <td>{{item.name}}</td>
          <td><a href="{{item.endpoint}}">{{item.endpoint}}</a></td>
          <td>{{item.req_type}}</td>
          <td>{{item.token}}</td>
          <td>{{item.access_role}}</td>
        </tr>
        {% endfor %}

        
        <!-- 
        <tr>
          <td>auth-users</td>
          <td><a href="{{ domain_name }}/auth/users">{{ domain_name }}/auth/users</a></td>
          <td></td>
          <td>Public</td>
        </tr>
        
        <tr>
          <td>create-jwt</td>
          <td><a href="{{ domain_name }}/auth/jwt/create">{{ domain_name }}/auth/jwt/create</a></td>
          <td></td>
          <td>Public</td>
        </tr>
        
        <tr>
          <td>refresh-jwt</td>
          <td><a href="{{ domain_name }}/auth/jwt/refresh">{{ domain_name }}/auth/jwt/refresh</a></td>
          <td></td>
          <td>Public</td>
        </tr>

        <tr>
          <td>products</td>
          <td><a href="{{ domain_name }}/store/products/">{{ domain_name }}/store/products/</a></td>
          <td>JWT</td>
          <td>Admin</td>
        </tr>

        <tr>
          <td>collections</td>
          <td><a href="{{ domain_name }}/store/collections/">{{ domain_name }}/store/collections/</a></td>
          <td></td>
          <td>Public</td>
        </tr>

        <tr>
          <td>carts</td>
          <td><a href="{{ domain_name }}/store/carts/">{{ domain_name }}/store/carts/</a></td>
          <td>JWT</td>
          <td>Authenticated</td>
        </tr>

        <tr>
          <td>customers</td>
          <td><a href="{{ domain_name }}/store/customers/">{{ domain_name }}/store/customers/</a></td>
          <td>JWT</td>
          <td>Admin</td>
        </tr>

        <tr>
          <td>orders</td>
          <td><a href="{{ domain_name }}/store/orders/">{{ domain_name }}/store/orders/</a></td>
          <td>JWT</td>
          <td>Authenticated</td>
        </tr> -->
            
    </table>
  </body>
</html>